.root{
    -fx-background-color: transparent;
}

.Genre{
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #3E4651;
}
.Movies{
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #3E4651;
}
.SelectedMovie {
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: #3E4651;
}

.list-view{
    -fx-background-radius: 10;
    -fx-background-color: #3E4651;
    -fx-text-fill: white;

}

.list-cell{
    -fx-text-fill: white;
    -fx-border-radius: 10;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#5195ba 0%, #488db7 25%, #3d7d9f 75%, #3a669b 100%);
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: #626c79;

}

.list-cell:odd{
    -fx-background-color: #434c56;

}

.list-cell:filled:hover {
    -fx-background-color: #808b99;
    -fx-text-fill: #3E4651;

}

.list-cell:focused:filled:hover{
    -fx-border-radius: 10;
    -fx-text-fill: white;
}

.table-view{
    -fx-background-color: #3E4651;
}

.table-view .column-header {
    -fx-background-color: #2d353e;
    -fx-text-background-color: white;
}

.table-view .column-header .label{
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 2 0 2 10px;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;

}
.table-row-cell:filled:hover {
    -fx-background-color: #808b99;
    -fx-text-background-color: #3E4651;
}
.table-row-cell:odd{
    -fx-background-color: #434c56;
    -fx-text-background-color: white;
}
.table-row-cell:even{
    -fx-background-color: #626c79;
    -fx-text-background-color: white;
}
.table-row-cell:filled:focused:selected, .table-row-cell:filled:selected {
    -fx-background-color: linear-gradient(#5195ba 0%, #488db7 25%, #3d7d9f 75%, #3a669b 100%);
    -fx-text-background-color: white;
}

.search{
    -fx-text-fill: WHITE;
    -fx-prompt-text-fill: #b3bcc8;
}

.exit:hover{
    -fx-fill: #E3000E;
}

.minimize:hover{
    -fx-fill: #FF7416;
}

.cancel{
    -fx-shape: "M 400 300 A 50 50 0 1 1 400 200 L 700 200 A 50 50 0 1 1 700 300 L 400 300 ";
    -fx-background-color: #3E4651;
    -fx-border-color: #b3bcc8;
    -fx-border-width: 1;
    -fx-text-fill: #b3bcc8;
}

.save{
    -fx-shape: "M 400 300 A 50 50 0 1 1 400 200 L 700 200 A 50 50 0 1 1 700 300 L 400 300 ";
    -fx-background-color: #3E4651;
    -fx-border-color: #b3bcc8;
    -fx-border-width: 1;
    -fx-text-fill: #b3bcc8;
}

.cancel:hover{
    -fx-border-color: #CF000F;
    -fx-text-fill: #CF000F;
}

.save:hover{
    -fx-border-color: #97CE68;
    -fx-text-fill: #97CE68;
}

.uiButtons{
    -fx-shape: "M 400 300 A 150 150 0 1 1 700 300 A 150 150 0 1 1 400 300 ";
    -fx-background-color: #3E4651;
    -fx-border-color: #b3bcc8;
    -fx-border-width: 1;
    -fx-text-fill: #b3bcc8;
}

.uiButtons:hover{
    -fx-border-color: white;
    -fx-text-fill: white;
}

.play{
    -fx-fill: #b3bcc8;
}

.play:hover{
    -fx-fill: White;
}

.JFXTextArea{
    -fx-text-fill: #b3bcc8;
}